<style>
@import url('https://fonts.googleapis.com/css?family=Acme|Ibarra+Real+Nova|Luckiest+Guy|Vidaloka|Zilla+Slab&display=swap');
</style>

body {
    margin: 0;
    padding: 0;
    background: forestgreen;
}

.page-wrapper {
    width: 750px;
    margin: 0 auto;
    background: forestgreen;
}

h1 {
    text-align: center;
    background: firebrick;
    font-size: 70px;
    border: 8px double white;
    margin: 5px;

}

h2 {
    font-size: 20px;

}

h3 {
    font-size: 20px;

}

.intro {
    background: goldenrod;
    width: 700px;
    margin: 10px;
    padding: 5px;
    border: 7px solid black;
}

#zen-supporting {
    background: ghostwhite;
    float: left;
    width: 400px;
    height: 300px;
    padding: 10px;
    border: 7px solid firebrick;
}

#zen-participation, #zen-benefits, #zen-requirements {
    background: grey;
    float: left;
    width: 400px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    border: 7px solid black;
}

footer {
    background: black;
    clear: both;
    text-align: center;
}

aside {
    background: forestgreen;
    float: right;
    width: 250px;
    border-left: black 3px solid;
    padding-left: 8px;

}