@import url(style.css) screen;



#css-zen-garden {
    background-color: forestgreen;
}

h1 {
    float: left;
    width: 37%;
    padding: 5px;
    color: forestgreen;
}


h2, h3, p {
    text-align: right;
}
.page-wrapper {
    float: left;
   
}
 aside {
     position: fixed;
     right: 5px;
     top: 0%;
 }

.main-supporting {
    float: right;
    margin: 0 5%;
    width: 40%;
}

 .main-supporting, .participation, .benefits, .requirements {
    color: white;
    font-size: 20px;
 }

 .explanation {
     color: rgb(44, 1, 1);
     font-size: 16px bolder;
 }

 footer {
     width: 255%;
     text-align: center;
 }