@import url("/css/style2.css");

@import url('https://fonts.googleapis.com/css?family=Acme|Ibarra+Real+Nova|Luckiest+Guy|Vidaloka|Zilla+Slab&display=swap');

body {
    margin: 0;
    padding: 0;
    background: forestgreen;
}

.page-wrapper {
    width: 750px;
    margin: 0 auto;
    background: forestgreen;
}

h1 {
    text-align: center;
    background: firebrick;
    font-size: 70px;
    border: 8px double white;
    margin: 5px;
    text-shadow: 5px 5px white;
    font-family: 'Luckiest Guy', cursive;
}

h2, h3 {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

.intro {
    background: goldenrod;
    width: 700px;
    margin: 10px;
    padding: 5px;
    border: 7px solid black;
    font-family: 'Zilla Slab', serif;
}

#zen-supporting {
    background: ghostwhite;
    float: left;
    width: 410px;
    height: 350px;
    padding: 10px;
    border: 7px solid firebrick;
    font-family: 'Zilla Slab', serif;
    text-indent: 1em; 
}

p::first-letter {
    font-weight: bolder;
    color: rgb(4, 54, 4);
    font-size: 25px;
}

#zen-participation, #zen-benefits, #zen-requirements {
    background: grey;
    float: left;
    width: 400px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    border: 7px solid black;
    font-family: 'Zilla Slab', serif;
    text-indent: 1em;
}

footer {
    background: black;
    clear: both;
    text-align: center;
    font-family: 'Vidaloka', serif;
}

aside {
    background: forestgreen;
    float: right;
    width: 250px;
    border-left: black 3px solid;
    padding-left: 8px;
    font-family: 'Ibarra Real Nova', serif;
}